{%extends 'mail/basic.html'%}
{%block title%}{{user.username|title}} | change password choose{%endblock%}

{%block css%}
.change-pwd-font{
        font-size:14px;
        font-weight:bolder;
}
a.change-pwd-font:hover{
    text-decoration:none;
}
{%endblock%}
{%block body%}
<div class="container">
<div class="row">
{%include "account/profile_basic.html"%}
	<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 col-12">
		<h6 class="list-group-item bg-danger text-white font-weight-bolder">Change Password</h6>
	<div class="list-group-item ">
		<div class="ml-3">
			<h6>Change your current password with based on below 2 options</h6>
		<a href="/account/change_password_with_old" class="list-group-item my-4 change-pwd-font">Remember Your old Password</a>
		<a href="/account/change_password_with_security" class="list-group-item mb-5 change-pwd-font">Change Your Password with Your Security Question</a>
	</div>
	</div>
		</div>
	</div>
</div>
{%endblock%}
