{%extends 'mail/basic.html'%}
{%block title%}{{user.username|title}} | change password{%endblock%}

{%block body%}
<div class="container">
<div class="row">
{%include "account/profile_basic.html"%}
	<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 col-12">
		<h6 class="list-group-item bg-danger text-white font-weight-bolder">Change Password</h6>
	<div class="list-group-item ">
		<div class="ml-3">
		<form action="/account/change_password_with_old/" method="post">{%csrf_token%}
			<div class="form-group mt-2">
			<label for="oldpwd"><b>Enter your old password</b></label>
			<input type="password" name="oldpwd" class="form-control" placeholder="old password" required="true">
			</div>
		<div class="form-group">
			<label for="pwd"><b>Enter your new password</b></label>
			<input type="password" name="pwd" class="form-control" placeholder="new password" required="true">
			</div>
		<div class="form-group">
			<label for="cnfpwd"><b>Confirm your new password</b></label>
			<input type="password" name="cnfpwd" class="form-control" placeholder="Confirm new password" required="true">
			</div>
			{%for msg in messages%}
			<p class="alert alert-danger text-danger">{{msg}}</p>
			{%endfor%}
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
			{%for msg in messages%}
			{%if "success" in msg%}
			<p class="alert alert-{{msg.tags}}">{{msg}}</p>
			{%endif%}
			{%endfor%}
	</div>
	</div>
		</div>
	</div>
</div>
{%endblock%}
